body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: blue;
    background-image: url('get.gif');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.welcome-container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

p {
    color: #666666;
    font-size: 18px;
}

#countdown {
    font-weight: bold;
    color: blue;
}
